{% extends 'base.html' %}
{% block title %} Let's Quiz | Bosh Sahifa {% endblock title %}
{% block content %}

    <section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
      <div class="container text-center">
        <h1 class="display-1 text-info">Let's Quiz</h1>
        <p class="display-4 d-none d-sm-block">Namangan davlat pedagogika instituti hodimlari va talabalari uchun.</p>
        <p class="lead">Biz turli mavzularda viktorinalar tashkil qilamiz.</p>

        {% if not request.user.is_active %}

        <p class="lead">Agar ro'yxatdan o'tmagan bo'lsangiz, hoziroq ro'yxatdan o'ting va sizni qiziqtirgan mavzulardagi millionlab viktorinalarga kirish imkoniyatiga ega bo'ling.</p>
        <p><strong> Safaringizni bu yerdan boshlang:</strong></p>
        <a href="{% url 'quiz:register' %}" class="btn btn-lg btn-info mt-1"><i class="fa fa-user-plus" aria-hidden="true"></i> Ro'yxatdan o'tish</a>

        {% else %}
        <a href="{% url 'quiz:play' %}" class="btn btn-lg btn-info mt-1">Boshlaylik</a>
        <a href="{% url 'quiz:leaderboard' %}" class="btn btn-lg btn-info mt-1">Reyting</a>
        {% endif %}
      </div>  
    </section>

{% endblock content %}
